@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;
  background:
    radial-gradient(#222e2e 3px, transparent 4px),
    radial-gradient(#222e2e 3px, transparent 4px),
    linear-gradient(#324540 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #68737B 75px, #68737B 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #68737B 76px, #68737B 77px, transparent 78px, transparent 109px),
  #324540;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
h1, h2 {
  font-family: 'Cinzel', serif;
}
h2 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 2% 10%;
  background: rgba(24, 22, 26, 0.7);

}
.nav-items li {
  display: inline-flex;
}
.logo {

}
.nav-links {
  color: #E6E7E1;
  padding: 7px;
  border: 2px solid transparent;
}
.nav-links:hover, .nav-links:focus {
  border-bottom: 2px solid #E6E7E1;
}
.home {
  border-top: 4px solid #18161a;
  border-bottom: 4px solid #18161a;
  background: url("YahushaComesHome.jpg") center/cover;
  height: 95vh;
  width: auto;
  position: relative;
  z-index: 1;
}
 .home-overlay {
  position: absolute;
  background: rgba(230, 231, 225, 0.3);
  width: 100%;
  height: inherit;
}
 .home-content {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   margin: 20% auto;
 }
 .home h1 {
   position: relative;
   font-size: 3rem;
 }
 .home-links ul {
   display: inline-flex;
   position: relative;
 }
 .home-links ul li {
   list-style: none;
   padding: 7px;
 }

 .education {
   background: rgba(24, 22, 26, 0.7);
   height: 65vh;
   width: auto;
 }
 .education-content {
   padding: 40px;
   max-width: 1000px;
   min-width: 500px;
   margin: 0 auto;
 }
 .education-content .title h2 {
   color: #e6e7e1;
   margin: auto 10%;
 }
.education-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 .education-container {
  margin: 10px;
  height: 150px;
  width: 400px;
  border: 2px solid #18161a;
  border-radius: 20px;
 }
 .education-container a {
   display: flex;
   justify-content: center;
   align-items: center;
   height: inherit;
 }
 .podcast-container {
  background: linear-gradient(#7f6f78, #b38d76);
}
.articles-container {
 background: linear-gradient(#758A8D, #9f8b8a);
}
.presentations-container {
 background: linear-gradient(#a6a7ae, #758A8D);
}
.history-container {
 background: linear-gradient(#b38d76, #debf93);
}
 .schoolofletters {
   border-top: 4px solid #18161a;
   background: rgba(230, 231, 225, 0.7);
   height: 95vh;
 }

.schoolofletters .title h2 {
  margin: auto 20%;
  padding: 40px;
}
 .schoolofletters-content {
   max-width: 1000px;
   min-width: 500px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .about {
   background: rgba(24, 22, 26, 0.7);
   height: 50vh;
   width: auto;
 }
.about .title h2 {
  color: #e6e7e1;
  margin: auto 20%;
  padding: 40px;
}
.about-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-container {
  height: 150px;
  width: 400px;
  border: 2px solid #18161a;
  margin: 10px;
  border-radius: 20px;
}
.about-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.bio-container {
  background: linear-gradient(#758A8D, #cacac8);
}
.FAQ-container {
  background: linear-gradient(#a6a7ae, #758A8D);
}
 .contact {
   border-top: 4px solid #18161a;
   background: rgba(230, 231, 225, 0.7);
   height: 50vh;
   width: auto;
 }

 .contact .title h2 {
   margin: auto 44%;
   padding: 40px;
 }
 .contact-options {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
 }
 .contact-container {
   height: 150px;
   width: 400px;
   margin: 10px;
   border-radius: 20px;
 }
 .contact-container a {
   display: flex;
   justify-content: center;
   align-items: center;
   height: inherit;

 }
 .phone-container {
   background: linear-gradient(#b38d76, #debf93);
 }
 .email-container {
   background: linear-gradient(#debf93, #b38d76);
 }
 .facebook-container {
   background: linear-gradient(#b38d76, #debf93);
 }
 footer {
   background: rgba(24, 22, 26, 0.9);
 }
 .footer-container {
   height: 20vh;
   width: 50%;
   color: #e6e7e1;
   border: 2px solid transparent;
   margin: auto;
   display: flex;
   justify-content: center;
   padding-top: 5%;
 }
.ftr-option {
  border: 2px solid transparent;
}

.address {
  text-align: center;
  width: 30%;
  display: inline-block;
}
.ftr-spacer {
  display: inline-block;
  border: 2px solid transparent;
}
.ftr-contact {
  display: inline-block;
}

.soc-media {
  display: block;
  margin-left: 30%;
}

.email, .phone, .donate {
  display: inline;
}
.facebook, .youtube {
  display: inline;
}
